body {
    background: #f6f8fa;
}

table th {
    background: white !important;
    border-bottom: 2px solid #403075 !important;
}

thead {
    background-color: none;
}

table {
font-family: 'Century Gothic';
border-collapse: collapse;
width: 98%;
margin: 0% 0 3% 0;
}

table td, table th {
border: 1px solid #e6ecf5;
padding: 8px;
text-align: center !important;
}

table tr:nth-child(even){background-color: #f2f2f2;}

tbody tr:hover {background-color: #ddd;}

table th, thead td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    text-align: left;
    padding-right: 1px;
    color: black;
}


tr:nth-child(even){background-color: #f2f2f2}

.box-footer {
    border-top: 1px solid #fff !important;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

    ul.pagination li a.active {
        background-color: #403075;
        color: white;
    }

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.paginate {
    padding: 10px 0px 10px 0px;
    float: right;
}

.box-body #search{
    background-color: #fff !important;
}

.box-body #search-btn {
    background-color: #403075;
    color: white;
    margin-left: 4%;
}

table .fa {
    color: #4e4d4d  ;
    font-size: 16px;
    padding: 2px;
}

.requirements .box-footer {
    text-align: right;
    background-color: transparent !important;
    border-top: none !important;
}

.requirements .box-footer .fa {
    color: #4e4d4d  ;
    font-size: 16px;
    padding: 2px 5px;
}

table .fa:hover {
    border-radius: 6px !important;
    cursor: pointer;
    background-color: #4e4d4d;
    color: white;
    padding: 2px;
}

.requirements .box-footer .fa:hover {
    border-radius: 6px !important;
    cursor: pointer;
    background-color: #4e4d4d;
    color: white;
    padding: 2px 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999999999999999999999999999999999999999; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(78, 77, 77); /* Fallback color */
    background-color: rgba(8, 8, 8, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #dd4b39;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 0.8 !important;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.modal-header {
    /*background: linear-gradient(-225deg, #403075 0%, #6a008a 52%, #FF3CAC 100%) !important;*/
    background-color: #fff !important;
    border-bottom: 1px solid #f5f5f5 !important;
    padding: 15px 0 15px 10px !important;
    color: white;
}

.modal-header a {
    float: right;
    margin-right: 5%;
}

.modal-footer {
    border-top: 1px solid #fff;
    padding-right: 6.2%;
}

.box-header {
    background: #ffffff !important;
    color: #050505;
}

    .box-header .fa {
        color: #4e4d4d;
    }


.box-header .fa:hover {
    color: gray;
}

.modal-header .close {
    margin-top: -9px !important;
}

.actions {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff;
    background-color: #403075;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.cancel {
    background-color: #ee5a57 !important;
}

.cancel:hover {
    background-color: #e94541 !important;
}

.save:hover {
    background-color: #58b45c !important;
}

.btn-primary {
    border-radius: 0px !important;
}

.modal .col-md-12, .modal .col-md-6, .col-md-7, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-8 {
    margin-top: 2% !important;
}

section .col-md-12, .col-md-6, .col-md-7, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-8 {
    margin-top: 1% !important;
}

button, .fa {
    position: relative;
    display: inline-block;
}

button .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999999999999999999999999999;
    bottom: 125%;
    left: 0%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Century Gothic' !important;
}

.fa .tooltiptextLeft {
    font-family: 'Century Gothic' !important;
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999999999999999999999999999;
    z-index: 1;
    top: -10px;
    right: 115%;
}

.fa .tooltiptextLeft::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.fa .tooltiptext {
    font-family: 'Century Gothic' !important;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;
    position: absolute;
    z-index: 9999999999999999999999999999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.fa .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.fa:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.fa:hover .tooltiptextLeft {
    visibility: visible;
    opacity: 1;
}

.login-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 270px;
    border-radius: 3px;
    background-color: #272E38;
    overflow: hidden;
    .denied &

{
    animation: shake 0.35s normal forwards ease-in-out;
}

fieldset {
    border: none;
}

header {
    background-color: #202731;
    color: #C5C6C8;
    display: block;
    padding: 1.5em;
    text-align: center;
}

.input-wrapper {
    position: relative;
    display: block;
    margin: 2em auto;
    border-bottom: 1px solid #FC7148;
    border-radius: 3px;
    width: 170px;
    padding-left: 20px;
    input

{
    width: 100%;
    line-height: 2;
    background-color: transparent;
    border: none;
    padding: .6em .5em;
    outline: 0;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder

{
    color: #9EA2AB;
}

}

&:before {
    font-family: FontAwesome;
    position: absolute;
    display: inline-block;
    top: 9px;
    left: 8px;
    font-size: 10px;
    color: #FC7148;
}

&:nth-child(1):before {
    content: "\f007";
}

&:nth-child(2):before {
    content: "\f023";
}

}

button {
    outline: 0;
    font-size: 8px;
    letter-spacing: 0.1em;
    background-color: #FC7148;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 200px;
    padding: 1.2em 0;
    margin: 4em auto;
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    &:hover

{
    border-bottom-color: darken(#FC7148, 25);
}

}
}

@keyframes shake {
    0% {
        margin-left: 0
    }

    12% {
        margin-left: 0
    }

    25% {
        margin-left: -10px
    }

    50% {
        margin-left: 10px
    }

    75% {
        margin-left: -10px
    }

    87% {
        margin-left: 0
    }

    100% {
        margin-left: 0
    }
}
/*form {
    position: absolute;
    top: 30%;
    left: 58%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 4px dashed #4e4d4d;
}

    form p {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 170px;
        color: #4e4d4d;
        font-family: Arial;
    }

    form input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
    }

    form button {
        margin: 0;
        color: #fff;
        background: #4e4d4d;
        border: none;
        width: 508px;
        height: 35px;
        margin-top: -20px;
        margin-left: -4px;
        border-radius: 4px;
        border-bottom: 4px solid #cccccc;
        transition: all .2s ease;
        outline: none;
    }

        form button:hover {
            background: #cccccc;
            color: #0C5645;
        }

        form button:active {
            border: 0;
        }*/

.main-header {
    position: fixed !important;
    width: 100% !important;
}

.main-sidebar {
    position: absolute !important;   
}

.box {
    margin-top: 5%;
}

table img {
    width: 50px;
    height: 50px !important;
}

table.dataTable, table {
    border-collapse: collapse !important;
    box-sizing: border-box !important;
    margin-top: 3% !important;
}

table.dataTable thead .sorting {
    background-image: none !important;
}

table.dataTable thead th{
    padding: 0px 0px !important;
}


td {
    line-height: 1 !important;
    vertical-align: inherit !important;
}

select, input[type=search] {
    width: 70%;
    height: 30px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.dataTables_length select {
    width: 40% !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    margin-bottom: 3% !important;
    margin-top: 2% !important;
}

/*#viewVariants .modal-content {
    width: 100% !important;
    max-width: 1200px !important;
}

#viewVariants .modal {
    width: 100% !important;
}*/

#variants {
    width: 95% !important;
}

.normal {
    font-weight: normal !important;
}

#variant-name {
    margin-top: -2% !important;
}

.swal2-container {
    z-index: 9999999999999999999 !important;
}

.sidebar-form {
    display: none !important;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/*.active, .accordion:hover {
    background-color: #ccc;
}*/

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

#content4 .active:after {
    content: none !important;
}

/*.panel {
    padding: 0 18px 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}*/

/*.selected {
    margin-left: 10%;
    width: 30% !important;
    border: none;
    background-color: white !important;
    pointer-events: none;
}*/

.filter-brand {
    position: absolute;
    margin-left: 40%;
    margin-top: 0.4%;
    width: 30%;
    z-index: 99;
}

@media only screen and (max-width: 1400px){
    .filter-brand {
        position: absolute;
        margin-left: 20%;
        margin-top: 1.8%;
        width: 40%;
        z-index: 99;
    }
}

@media only screen and (max-width: 1410px){
    .filter-brand {
        position: absolute;
        margin-left: 30%;
        margin-top: -0.1%;
        width: 40%;
        z-index: 99;
    }
}

.image {
    border: 1px solid #d2d6de;
    padding: 5px;
    font-weight: 100;
    color: #c4bebe;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    /*position: absolute;
    opacity: 0;*/
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#imageLabel {
    border: none !important;
    width: 90% !important;
}

/*@media only screen and (min-width: 600px){
    .table-responsive {
        overflow-x: initial !important;
    }
}*/

.containers {
    display: block;
    position: relative;
    margin-bottom: 27px;
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containers input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #3498db;
}

/* On mouse-over, add a grey background color */
.containers:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containers input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containers input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containers .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.box-small {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 21%;
    margin-left: 3%; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-small:hover {
    cursor: pointer;
}

.field-sidebar {
    margin-top: 1.7%;
}

.control-action .form-control {
    width: 50% !important;
}

.control-action img {
    width: 13%;
    position: absolute;
    margin-top: -3%;
}

#imageHere img {
    width: 100%;
}
/*Changes*/
.skin-purple .main-header .navbar {
    background-color: #fff !important;
}

.skin-purple .sidebar a {
    color: #000 !important;
}

.sidebar-menu>li {
    border-top: 1px solid #dedede;
}

.skin-purple .wrapper, .skin-purple .main-sidebar, .skin-purple .left-side {
    /*background: linear-gradient(-225deg, #403075 0%, #6a008a 52%, #FF3CAC 100%) !important;*/
    background-color: #fff !important;
    /*margin-top: 3% !important;*/
}
.skin-purple .main-header .logo {
    background-color: #fff !important;
}
.skin-purple .main-header .navbar .sidebar-toggle {
    color: #000 !important;
}
.skin-purple .main-header .navbar .nav > li > a {
    color: #000 !important; 
}
.btn-primary {
    background-color: #00bbd9;
    border-color: #00bbd9;
}
.table.dataTable thead th, table.dataTable thead td {
    border-bottom: #403075 !important;
}
.box {
    border-top: 3px solid #ffffff !important;
}
.skin-purple .main-header li.user-header {
    background: linear-gradient(-225deg, #818184 28%, #d0d0d0 100%) !important;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default{
    color:black !important;
}
/*.btn-default {
    background-color: #403075!important;
    border-color: none !important;
}*/
/*When click the checkbox*/
.containers input:checked ~ .checkmark {
    background-color: #2980b9 !important;
}

/*New*/
.skin-purple .sidebar-menu > li:hover > a, .skin-purple .sidebar-menu > li.active > a, .skin-purple .sidebar-menu > li.menu-open > a {
    background: #e3e8e940 !important;
    border-color: #ffffff !important;
    border-bottom-style: 2px solid !important;
}
.skin-purple .sidebar-menu .treeview-menu > li > a {
    color: #ffffff !important;
}

.error-page {
    background-color: #df4a4a;
    color: white;
    margin-top: 4%;
    padding: 2% 5% 2% 5%;
    width: 100% !important;
}

#mixedSlider {
  position: relative;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  width: 33%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 10px;
}
@media (max-width: 991px) {
  #mixedSlider .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-content .item {
    width: 100%;
  }
}
#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-style: italic;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}
#mixedSlider .MS-content .item p {
  font-size: 16px;
  margin: 2px 10px 0 5px;
  text-indent: 15px;
}
#mixedSlider .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 16px;
  font-style: italic;
  color: rgba(173, 0, 0, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
  transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 95px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls button {
    font-size: 20px;
  }
}
#mixedSlider .MS-controls .MS-left {
  left: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-left {
    left: -10px;
  }
}
#mixedSlider .MS-controls .MS-right {
  right: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-right {
    right: -10px;
  }
}
#basicSlider { position: relative; }

#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}

#basicSlider .MS-content .item {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}
@media (max-width: 991px) {

#basicSlider .MS-content .item { width: 25%; }
}
@media (max-width: 767px) {

#basicSlider .MS-content .item { width: 35%; }
}
@media (max-width: 500px) {

#basicSlider .MS-content .item { width: 50%; }
}

#basicSlider .MS-content .item a {
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}

.slider-content {
    position: absolute;
    bottom: 50%;
    width: 100%;
}

.slider-content h1 {
    color: #FFF;
    padding-top: 5%;
    font-style: normal;
    text-transform: uppercase;
    border: none;
    line-height: 1.3em;
    margin-bottom: 5%;
    font-size: 4em;
    margin-left: 5%;
}

.slider-content a {
    margin-left: 50%;
}

.carousel-inner .item img {
    height: 400px !important;
}

.carousel-indicators {
    display: none;
}

.box-body .action {
    font-size: xx-large;
}

.box-body .action .fa:hover {
    cursor: pointer;
}

main {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
}

.box-footer section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.box-footer input[type=radio] {
  display: none;
}

.box-footer .tabs {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.box-footer .tabs:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='0']:before { content: '\f21a'; }
label[for*='1']:before { content: '\f013'; }
label[for*='2']:before { content: '\f02e'; }
label[for*='3']:before { content: '\f0c5'; }
label[for*='4']:before { content: '\f0d6'; }
label[for*='5']:before { content: '\f073'; }
label[for*='6']:before { content: '\f12e'; }
label[for*='7']:before { content: '\f022'; }
label[for*='8']:before { content: '\f155'; }
label[for*='9']:before { content: '\f086'; }
label[for*='10']:before { content: '\f01e'; }
.lock[for*='4']:before { content: '\f023'; }

.box-footer .tabs:hover {
  color: #888;
  cursor: pointer;
}

.box-footer input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

.box-footer #tab0:checked ~ #content,
.box-footer #tab1:checked ~ #content1,
.box-footer #tab2:checked ~ #content2,
.box-footer #tab3:checked ~ #content3,
.box-footer #tab4:checked ~ #content4,
.box-footer #tab5:checked ~ #content5,
.box-footer #tab6:checked ~ #content6,
.box-footer #tab7:checked ~ #content7,
.box-footer #tab8:checked ~ #content8,
.box-footer #tab9:checked ~ #content9,
.box-footer #tab10:checked ~ #content10,
.box-footer #tab11:checked ~ #content11
 {
  display: block;
}

.folder {
    width: 150px;
    color: #fff;
    margin: 0 auto;
    margin-right: 5%;
    position: relative;
    background-color: #708090;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #708090;
    position: absolute;
    top: -12px;
    left: 0px;
}

@media screen and (max-width: 650px) {
  .box-footer .tabs {
    font-size: 0;
  }
  .box-footer .tabs:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .box-footer label {
    padding: 15px;
  }
}

#featuredModal .modal-content {
    max-width: 1200px !important;
}

#mixedSlider .MS-content .item img {
    height: 300px !important;
}

.MS-controls {
    display: none;
}

.sample-header {
    background-color: #403075 !important;
    padding: 5px;
}

.sample-header ul li {
    display: inline;
    list-style: none;
    margin-left: 11%;
    color: #fff;
    font-size: initial;
}

.sample-header ul {
    margin-top: 7% !important;
}

.toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 0rem;
  margin: auto;
  cursor: pointer;
}
.toggle-input {
  display: none;
  margin: 0;
}
.toggle-off,
.toggle-on {
  height: 1.8125rem;
  width: 1.8125rem;
  color: rgba(46, 45, 44, 0.1);
  vertical-align: top;
  text-align: center;
  line-height: 1.8125rem !important;
}
.toggle-input:checked + .toggle-controller.default-success {
    border: 0.125rem solid rgb(58, 58, 58);
    background: rgb(32, 215, 38);
}
.toggle-input:checked + .toggle-controller.default-success:after {
  left: 1.5625rem;
}
.toggle-controller.default-success {
    position: relative;
    display: inline-block;
    height: 1.9rem;
    width: 3.5rem;
    border: 0.125rem solid rgba(46, 45, 44, 0.05);
    -webkit-border-radius: 1.5625rem;
    -moz-border-radius: 1.5625rem;
    border-radius: 1.5625rem;
    -webkit-box-shadow: inset 0 0 0.1875rem rgba(46, 45, 44, 0.25);
    -moz-box-shadow: inset 0 0 0.1875rem rgba(46, 45, 44, 0.25);
    box-shadow: inset 0 0 0.1875rem rgba(46, 45, 44, 0.25);
    background: rgba(5, 5, 5, 0.9);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.toggle-controller.default-success:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  height: 1.5625rem;
  width: 1.5625rem;
  -webkit-border-radius: 1.5625rem;
  -moz-border-radius: 1.5625rem;
  border-radius: 1.5625rem;
  -webkit-box-shadow: 0 0.0625rem 0.125rem rgba(46, 45, 44, 0.2);
  -moz-box-shadow: 0 0.0625rem 0.125rem rgba(46, 45, 44, 0.2);
  box-shadow: 0 0.0625rem 0.125rem rgba(46, 45, 44, 0.2);
  background: white;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.toggle-off.active {color:red;}
.toggle-on.active {color:green;}

.toggled {
    border: 0.125rem solid rgb(160, 55, 196);
    background: rgb(68, 50, 120);
    position: relative;
    display: inline-block;
    height: 1.9rem;
    width: 3.5rem;
    border: 0.125rem solid rgba(46, 45, 44, 0.05);
    -webkit-border-radius: 1.5625rem;
    -moz-border-radius: 1.5625rem;
    border-radius: 1.5625rem;
    -webkit-box-shadow: inset 0 0 0.1875rem rgba(46, 45, 44, 0.25);
    -moz-box-shadow: inset 0 0 0.1875rem rgba(46, 45, 44, 0.25);
    box-shadow: inset 0 0 0.1875rem rgba(46, 45, 44, 0.25);
    background: rgba(46, 45, 44, 0.025);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.table-responsive .col-sm-12 {
    margin-top: 2%;
}

.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus,
.btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open >
.dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #00bbd9 !important;
    border-color: #00bbd9 !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    border-color: transparent !important;
}

.select2 {
    width: 554.6px !important;
}

.select2-container--default .select2-selection--multiple
.select2-selection__choice {
    background-color: #00a65a !important;
    border: 1px solid #00a65a !important;
}

/*Alignment in Viewing the Products only, Show Entries*/
.dataTables_wrapper .dataTables_length, .dataTables_wrapper
.dataTables_filter, .dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing, .dataTables_wrapper
.dataTables_paginate {
    margin-left: 2.5% !important;
}

/*Alignment in Viewing the Products only, Search*/
.dataTables_wrapper .dataTables_filter{
    text-align: left !important;
}

/*Textarea fixed size*/
textarea.form-control {
    resize: none !important;
}

/*Hide the Box-tool*/
/*.box-tools{
    display:none !important;
}*/

#announcements li {
    padding: 10px;
}

.filter-brand table td {
    border: none !important;
}

.filter-brand table tr:hover {
    background-color: white !important;
}

disabled:hover {
    cursor: not-allowed !important;
}
.bs-example{
    margin: 20px;
}
.panel-title .glyphicon{
    font-size: 14px;
}

.panel-group .panel{
    max-height: inherit;
    padding: 0px !important;
}

.panel-body table {
    width: 100% !important;
}

/*Row font-weight*/
.sorting {
    color:black;
    font-weight: bold !important;
    font-size: 100% !important;
}
.sorting_asc {
    color: black;
    font-weight: bold !important;
    font-size: 100% !important;
}

/*Box-title font-face weight*/
.box-title {
    font-weight: bold !important;
    font-size: 18px !important;
}

/*Admin Gradient*/
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background: linear-gradient(to right, rgba(255, 88, 88, 0.9), rgba(240, 152, 25, 0.9)) !important;
}

/*.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .modal-danger .modal-body {
    background: linear-gradient(to right, rgba(68, 129, 235, 0.9), rgba(4, 190, 254, 0.9)) !important;
}*/

.bg-green, .callout.callout-success, .alert-success, .modal-success .modal-body {
    background: linear-gradient(to right, rgba(80, 204, 127, 0.9), rgba(245, 209, 0, 0.9)) !important
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background: linear-gradient(to right, rgba(255, 88, 88, 0.9), rgba(240, 152, 25, 0.9)) !important;
}

/*Background of Content*/
.content-wrapper {
    background-color: #F6F8FA  !important;
}

/*Pagination Color*/
.dataTables_wrapper .dataTables_paginate
.paginate_button.current, .dataTables_wrapper
.dataTables_paginate .paginate_button.current:hover {
    border: 1px solid white !important;
    background: linear-gradient(to right, rgba(68, 129, 235, 0.9), rgba(4, 190, 254, 0.9)) !important;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{
    color: #403075 !important;
}

.text-danger {
   font-weight: 400 !important;
}

.form-control[disabled], .panel-default>.panel-heading {
    background-color: #f5f9fc !important;
    opacity: 1;
}

#errorBag, #errorBagEdit {
    color: red;
}

#addMainSlider .tooltiptext, #playMainSlider .tooltiptext, #playFeatured .tooltiptext, #modifyLogo .tooltiptext {
    font-size: 15px !important;
}

#addVariant .select2 {
    width: 100% !important;
}

.badge {
    color: #000 !important;
    background-color: #fff !important;
}

.user-filter {
    margin-left: 18% !important;
    margin-top: -0.5% !important;
    width: 56% !important;
}

.user-filter select {
    width: 90% !important;
}

.slider-p {
    color: white;
    font-size: 17px;
    margin-left: 6%;
    margin-top: -5%;
}

.li-active {
    background-color: #f6f8fa !important;
}

.li-active a{
    color: #403075 !important;
}

.modal .schedule-body {
    max-width: 950px !important;
}

.modal .schedule-body table tbody td {
    text-align: left !important;
}

#myT .brand .select2 {
    width: 100% !important;
}

/*#content1 div, #content2 div, #content3 div, #content4 div {
    margin-bottom: 2%;
}*/

#errorBag li {
    color: red;
}

.banner-name {
    color: #f8b21a;
    font-size: 1.5em;
}

.banner-name b {
    color: #818381;
}

.modal .select2 {
    width: 100% !important;
}

.select2-container--default.select2-container--open {
    z-index: 9999999999 !important;
}

.emp-profile{
    /*padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;*/
    border-radius: 0.5rem;
    background: #fff;
}
/*.profile-img{
    text-align: center;
}*/
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -17%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5{
    color: #333;
}

.emp-profile .employee-info h5{
    font-weight: bold;
    margin-bottom: 3%;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14% 0;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.profile-head table {
    margin-top: 0 !important;
}

.profile-head table td, table th {
  border: none !important;
  padding: 0px !important;
  text-align: left !important;
}


.profile-head table tr:hover {
    background: none !important;
}

#userSkillTbody td {
    text-align: left !important;
}

#content2 table td {
    text-align: left !important;
}

#userSkillTbody td p, #userEducTbody td p {
    font-size: x-small !important;
}

.box-body .box-child {
    border: 1px solid #c8c0c0;
    /*width: 50%;*/
    margin: 5px 0 5px 0;
    padding-top: 7px;
}

.box-child .box-child-header {
    border-bottom: 1px solid #c8c0c0;
    padding: 10px;
}

.box-child .box-child-footer {
    border-top: 1px solid #c8c0c0;
    padding: 10px;
}

.box-child .box-child-body {
    padding: 10px;
}

#attendanceTable {
    width: 100% !important;
}

table .Late {
    background-color: red !important;
    color: #fff !important;
}

/*#totalTable {
    width: 45% !important;
}*/

/*#totalTable td {
    padding: 3% !important
}*/

section .box-child {
    border: 1px solid #d5cfcf;
    background: #f8fcf7;
}

section .box-child .box-header-child{
    border-bottom: 1px solid #d5cfcf;
}

section table { 
    background: #fff !important;
}

table .total, table .total-summary, table .earning-summary {
    background: green !important;
    color: #fff !important;
}

.box-body-child {
    background-color: #c8c8c8 !important;
    margin-bottom: 1%;
}

#netSalaryTable td {
    text-align: left !important;
}

.box-child #celebrations li {
    list-style-type: none;
    margin-left: -16%;
    margin-bottom: 10px;
}

.box-child #celebrations li img{
    width: 100%;
}

.box-child .info-box-number {
    font-size: 20px !important;
}

.forum #forum div {
    list-style-type: none;
    margin-bottom: 10px;
}

.forum #forum div img{
    width: 60%;
}

.forum #forum div .forum-message{
    width: 100%;
    padding: 0px 10px;
    background-color: #e1e0e0;
    border-radius: 1.3em;
    margin-left: -5%;
}

.forum #forum .sender{
    float: left;
}

.forum #forum .reciever{
    float: right;
}

#box-body h4 {
    font-weight: bold;
}

#box-body .col-md-8 {
    border-left: 1px solid #bebdbd;
}

#box-body a:hover {
    cursor: pointer !important;
}

.fake-textarea{
  padding: 15px;
  color: #000;
  height: auto;
  width: 100%;
  border: 1px solid #000;
}

.job {
    text-align: left !important;
    padding: 20px 40px;
    background: #f5f5f5;
    border: 1px solid #000;
    margin: 0.5%;
}

.calendar {
    position: relative;
    height: 100% !important;
    padding: 10px;
}

.calendar a {
    text-decoration: none !important;
}

.fc-head th {
    padding: 10px 5px 10px 5px !important;
    background: #fff !important;
}

.fc .fc-button-group>* {
    border-radius: 0 !important;
}

.calendar tr:hover {
    background-color: #fff !important;
}

#myNotes {
  position: fixed;
  bottom: -4px;
  right: 10px;
  width: 20%;
  z-index: 9999999;
}

#company-profile .col-md-12, #company-profile .col-md-6 {
    margin-bottom: 2%;
}

#company-profile label {
    color: #337ab7;
}

#company-profile img {
    width: 200px;
    height: 100px;
}

.navbar-custom-menu #notifs {
    font-size: 13px;
    width: 400px;
    padding: 10px 10px;
    background: aliceblue;
    height: 400px;
    overflow: auto;
}

.navbar-custom-menu #notifs li {
    padding: 7px 0px;
    border-bottom: 1px solid #d2d6de;
}

.navbar-custom-menu #notifs .fa{
    font-size: 2em;
}

.navbar-custom-menu #notifs span{
    margin-left: 3%;
}

.navbar-custom-menu #countnotifs{
    padding: 2px;
    background: #f60000;
    border-radius: 50%;
}

#allNotes .fa-trash {
    float: right;
}

.sidebar .label-primary {
    background-color: #337ab7 !important;
    color: #fff !important;
}

.sidebar .label-success {
    background-color: #5cb85c !important;
    color: #fff !important;
}

.sidebar .label-danger {
    background-color: #d9534f !important;
    color: #fff !important;
}

#files li {
    margin-top: 10px;
}

.richText .richText-toolbar ul li a {
    padding: 8px 7px !important;
}

.loading img {
    width: 100px !important;
    height: auto !important;
}

.skin-black-light .main-sidebar {
    border-right: 1px solid #d2d6de;
}

.skin-black-light .main-header {
    border-bottom: 1px solid #d2d6de;
}

.skin-black-light .main-header .navbar>.sidebar-toggle {
    border-right: 1px solid #d2d6de;
}

.skin-black-light .main-header>.logo {
    border-right: 1px solid #d2d6de;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black-light .main-header .navbar .navbar-right>li>a {
    border-left: 1px solid #d2d6de;
}

.skin-black-light .main-header .navbar .navbar-nav>li>a {
    border-right: 1px solid #d2d6de;
}

.select2-container {
    height: 20px !important;
}

.badge .fa-remove {
    font-size: 20px;
    color: #da2525;
}

.section-header {
    background-color: #f39c12;
    color: #fff;
}

.section-header h3 {
    padding-bottom: 10px;
}

.gantt-div {
    height: 200px !important;
    overflow: auto !important;
    background: #d5d5d5;
    padding: 10px;
}

#table-salary thead tr {
    font-weight: 900 !important;
    font-size: 15px !important;
    background-color: #bdbdbd !important;
}

#table-salary tr {
    background-color: #fff !important;
}

table .total-crew-salary {
    font-size: 17px !important;
}